<div class="modal fade" tabindex="-1" role="dialog" id="qrcode_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">二维码</h4>
      </div>
      <div class="modal-body text-center">
        <h3>用户组：逻辑小班20170908</h3>
        <p class="text-muted">学生可以通过扫描此二维码加入该用户组</p>
        <p id="qrcode-container" style="margin: 10px auto; width: 256px"></p>
        <p id="text"></p>
      </div>
    </div>
  </div>
</div>