<h4>编辑用户组</h4>

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end -%>

<% if @user_group.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% @user_group.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end -%>

<%= render partial: "admin/user_groups/form" %>