<div style="padding: 180px 0 320px 0; text-align: center; font-size: 24px; color: #999; ">
  <%= image_tag 'http://7xtg0z.com2.z0.glb.clouddn.com/no-permission.png', width: 120 %>
  <p>你无权查看该页面</p>
</div>