<h4>首页内容管理</h4>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#slides" aria-controls="slides" role="tab" data-toggle="tab">轮播图</a></li>
  <li role="presentation"><a href="#meetings" aria-controls="meetings" role="tab" data-toggle="tab">课程表</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="slides">


  </div>

  <div class="tab-pane" id="meetings">

  </div>

</div>
