/*
 *= require admin/posts
 *= require jquery.datetimeentry
 *= require layer
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote";
@import 'bootstrap-datetimepicker';

body {
  font-family: "Segoe UI", helvetica, arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.navbar-default {
  background-color: white;
}

.left-nav > li > a {
  padding: 10px 15px 10px 30px;
}

.left-nav > li > div {
  padding: 10px 15px 10px 14px;
  border-top: 1px solid #eee;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 1px;
  background-color: #f5f5f5;
  font-weight: normal;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 1px solid #e7e7e7;
}

.admin-container {
  border: 1px solid #ddd;
  background-color: white;
  margin-bottom: 32px;

  .nav-container {
    padding: 0;
    border-right: 1px solid #ddd;
    margin-right: -1px;

    .nav-pills > li > a {
      border-radius: 0;
    }
  }

  .content {
    border-left: 1px solid #ddd;
    padding-bottom: 16px;
  }

  .content > h4 {
    margin: 20px 0;
  }
}

.nav-tabs {
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: middle;
}

.post-form .form-group, .course-form .form-group {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

table.files {
  margin-bottom: 8px;
}

table.files td {
  padding: 7px;
}

table.files tr:hover {
  background-color: #f5f5f5;
}

table.files .delete-attachment {
  color: #900;
  font-weight: bold;
}

#avatar_container {
  margin-bottom: 8px;

  img {
    margin-right: 8px;
  }
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.required {
  color: red;
  padding-left: 3px;
}

.meeting-form {
  td {
    padding-bottom: 16px;
    padding-right: 8px;
  }
}

.pagination {
  text-align: center;
  padding: 20px 0;

  > * {
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background-color: white;
    padding: 3px 10px;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  em, .disabled, .current {
    font-style: normal;
    color: #aaa;
    border-color: #eee;
  }
}

.exercise-filter-form {
  select {
    margin-right: 24px;
  }
}