/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require basscss/basscss
 *= require swiper
 *= require fullcalendar
 *= require welcome
 *= require posts
 *= require courses
 *= require exercises
 *= require users
 *= require exams
 *= require video-js
 *= require layer
 *= require_self
 */

.vjs-default-skin .vjs-big-play-button:before {
    line-height: 2em;
}

.vjs-default-skin .vjs-big-play-button {
    width: 2em;
    height: 2em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
    border: none;
}

.highlight {
  background: yellow;
}