$blue: #006eae;
$yellow: #fefe00;

.text-center {
  text-align: center;
}

.passage {
  float: left;
  height: 600px;
  overflow: scroll;
  width: 50%;
  padding-right: 24px;
}

.passage-right {
  float: right;
  padding: 0 24px;
  height: 600px;
  width: 50%;
  border-left: 1px solid #ddd;
}

.exam-main {
  width: 1024px;
  background: $blue;
  position: relative;
  margin: 30px auto 20px auto;
  line-height: 1.5;

  .header {
    padding-left: 8px;
    color: white;
    overflow: hidden;

    h1 {
      font-size: 18px;
      line-height: 45px;
      margin: 0;
    }

    .right {
      font-size: 14px;
      font-weight: bold;
      float: right;
      margin-top: -40px;
      padding-right: 20px;

      i {
        width: 20px;
        height: 18px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 4px;
      }

      .clock i {
        background: url(http://oya5a097g.bkt.clouddn.com/clock.png) center center no-repeat;
      }

      .location i {
        background: url(http://oya5a097g.bkt.clouddn.com/location.png) center center no-repeat;
      }
    }
  }

  .top-bar {
    height: 31px;
    background: #7eafe1;
    border: 2px solid #fff;
    color: #fff;
    margin-right: 20px;
  }

  .content {
    padding: 0 24px;
    margin: 0 20px;
    min-height: 600px;
    color: #333;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;

    h1 {
      margin: 30px 0 20px 0;
      font-size: 20px;
      text-align: center;
    }

    h2 {
      line-height: 28px;
      padding-bottom: 8px;
      margin-bottom: 0;
      margin-top: 32px;
      font-size: 16px;
      font-weight: normal;
      border-bottom: 1px solid #e5e5e5;
    }

    .form-control {
      padding: 12px 0;
      border-bottom: 1px solid #e5e5e5;
    }

    .start-exam {
      background: $blue;
      color: white;
      text-align: center;
      width: 120px;
      padding: 12px 0;
      font-size: 18px;
      display: block;
      text-decoration: none;
      margin: 30px auto;
      border: none;
      cursor: pointer;

      &:hover {
        background: #0889d4;
      }
    }

    p {
      line-height: 28px;
      margin-top: 20px;
    }

    li {
      margin: 15px 0 0 50px;
    }

    .multi-choice-list {
      padding: 0;

      li {
        margin: 10px 0 0 0;
        list-style: none;
      }

      label {
        display: block;
        margin-left: 20px;
      }

      [type=radio] {
        float: left;
        margin-left: -20px;
        margin-top: 5px;
      }
    }

    .left-container {
      width: 46%;
      float: left;
    }
    .right-container {
      width: 50%;
      float: right;
      border-left: 20px solid $blue;
      padding-left: 24px;
    }

    .pause-exam-content {
      text-align: center;
      line-height: 600px;
      display: none;
    }
  }
  .tips {
    font-size: 12px;
    color: #999;
    background: white;
    padding: 40px 0 12px 20px;
    margin: 0 20px;
  }

  .bottom-bar {
    height: 36px;
    line-height: 36px;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    border-left: 2px solid white;
    text-align: center;

    > a {
      text-decoration: none;
      color: white;

      &:hover {
        color: $yellow;
      }
    }

    .left {
      float: left;
      border-right: 2px solid white;
    }

    .right {
      float: right;
      border-left: 2px solid white;
    }

    i {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      vertical-align: text-bottom;
    }

    .btn-help {
      width: 80px;

      i {
        background-image: url(http://oya5a097g.bkt.clouddn.com/help.png);
      }
    }

    .btn-help:hover i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/help-hover.png);
    }

    .btn-end {
      width: 130px;

      i {
        background-image: url(http://oya5a097g.bkt.clouddn.com/quit.png);
      }
    }

    .btn-end:hover i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/quit-hover.png);
    }

    .btn-skip {
      width: 82px;
    }

    .btn-next {
      width: 82px;

      i {
        background-image: url(http://oya5a097g.bkt.clouddn.com/next.png);
      }
    }

    .btn-next:hover i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/next-hover.png);
    }
  }
}

.thesis-container {
  border-top: 20px solid $blue;
  margin: 0 -30px;
  padding: 8px;
  padding-top: 2px;

  .thesis-input {
    padding: 2px 4px;
    width: 100%;
    height: 240px;
    border: none;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 16px;
  }

  .thesis-input:focus {
    outline: none;
  }

  .toolbar {
    background: #7eafe1;
    line-height: 37px;
    padding-left: 12px;

    a {
      color: white;
      text-decoration: none;
      margin-right: 12px;

      &:hover {
        color: $yellow;
      }

      &.disable {
        color: #404040;
      }
    }

    i {
      display: inline-block;
      width: 18px;
      height: 37px;
      margin-right: 6px;
      vertical-align: bottom;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .toolbar-btn-cut i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/cut.png);
    }
    .toolbar-btn-copy i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/copy.png);
    }
    .toolbar-btn-paste i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/paste.png);
    }
    .toolbar-btn-redo i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/redo.png);
    }
    .toolbar-btn-cut:hover i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/cut-hover.png);
    }
    .toolbar-btn-copy:hover i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/copy-hover.png);
    }
    .toolbar-btn-paste:hover i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/paste-hover.png);
    }
    .toolbar-btn-redo:hover i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/redo-hover.png);
    }
    .toolbar-btn-undo.disable i {
      background-image: url(http://oya5a097g.bkt.clouddn.com/undo-disable.png);
    }
  }
}

.intro-next-button {
  display: inline-block;
  vertical-align: bottom;
  width: 75px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -89px -5px no-repeat;
}

.intro-end-button {
  display: inline-block;
  vertical-align: bottom;
  width: 116px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -173px -5px no-repeat;
}

.intro-page-button {
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -300px -5px no-repeat;
}

.intro-clock-button {
  display: inline-block;
  vertical-align: bottom;
  width: 38px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -405px -5px no-repeat;
}

.intro-book-button {
  display: inline-block;
  vertical-align: bottom;
  width: 38px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -5px -85px no-repeat;
}

.intro-help-button {
  display: inline-block;
  vertical-align: bottom;
  width: 75px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -5px -5px no-repeat;
}

.intro-cut-button {
  display: inline-block;
  vertical-align: bottom;
  width: 64px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -5px -45px no-repeat;
}

.intro-copy-button {
  display: inline-block;
  vertical-align: bottom;
  width: 80px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -85px -45px no-repeat;
}

.intro-paste-button {
  display: inline-block;
  vertical-align: bottom;
  width: 84px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -175px -45px no-repeat;
}

.intro-undo-button {
  display: inline-block;
  vertical-align: bottom;
  width: 84px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -270px -45px no-repeat;
}

.intro-redo-button {
  display: inline-block;
  vertical-align: bottom;
  width: 84px;
  height: 30px;
  background: url(http://oya5a097g.bkt.clouddn.com/intr-icon.png) -365px -45px no-repeat;
}

.dialog {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -177px;
  margin-top: -120px;
  z-index: 999;
  background: #006eae;
  color: #fff;
  padding-bottom: 27px;
  border: 1px solid #fff;

  .title {
    height: 39px;
    padding: 0 14px;
    line-height: 39px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
  }

  .close {
    width: 16px;
    height: 39px;
    float: right;
    background: url(http://oya5a097g.bkt.clouddn.com/close.png) center center no-repeat;
    cursor: pointer;
  }

  .body {
    padding: 20px 14px 30px 14px;
  }

  .footer {
    text-align: center;

    a {
      display: inline-block;
      border: 1px solid #fff;
      padding: 4px 18px;
      text-decoration: none;
      text-align: center;
      position: relative;
      display: inline-block;
      color: white;
    }
  }

  .bordered:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid white;
  }

  .dialog-close:hover {
    color: $yellow;
  }
}

