//= require exams_controller

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #333;
  font-family: Tahoma, "Helvetica Neue", "微软雅黑", sans-serif;
}

button, input, textarea {
  font-family: Tahoma, "Helvetica Neue", "微软雅黑", sans-serif;
  resize: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}