form.edit_user {

  [type=text] {
    padding: 12px;
    font-size: 18px;
  }

  .error {
    margin-top: 8px;
    color: #c00;
    display: none;
  }

  .btn {
    padding: 12px;
    font-size: 18px;

    &:disabled {
      color: #eee;
    }
  }
}