<div class="dialog">
  <div class="title">
    Anwser Confirmation
    <i class="close"></i>
  </div>
  <div class="body">
    <p>Click Yes to confirm your answer and continue to the next question.</p>
    <a href="#" class="dialog-close">O<u>K</u></a>
    <a href="#" class="dialog-close">O<u>K</u></a>
  </div>
</div>