<div class="dialog js-confirm-anwser" style="margin-left: -253px;">
  <div class="title">
    Anwser Confirmation
    <i class="close"></i>
  </div>
  <div class="body">
    <p>Click Yes to confirm your answer and continue to the next question.</p>
  </div>
  <div class="footer">
    <a href="<%= next_exercise_url(@exam, @exercise) %>" class="bordered"><u>Y</u>es</a>
    <a href="javascript:;" class="dialog-close"><u>N</u>o</a>
  </div>
</div>