<div class="dialog js-end-exam-dialog" style="margin-left: -228px;">
  <div class="title">
    End Exam
    <i class="close"></i>
  </div>
  <div class="body">
    <img src="http://img.gaofengo.com/warn.png" alt="" style="float: left;">
    <div style="padding-left: 50px;">
      <p style="margin-top: 0">You are about to end your exam.<br/>If you click the Yes button below, your exam will end.</p>
      <p>Are you sure you want to end your exam?</p>
    </div>
  </div>
  <div class="footer">
    <a href="#" class="js-yes"><u>Y</u>es</a>
    <a href="#" class="dialog-close bordered"><u>N</u>o</a>
  </div>
</div>