<div class="header">
  <h1><%= @exam.name %></h1>
  <div class="right">
    <div class="clock"><i></i>Time cost <%= @exam.estimated_time %>:00</div>
    <div class="location"><i></i>Location <%= current_location(@exam, @exercise) %> of <%= @exam.exercise_ids.length %></div>
  </div>
</div>