<div class="bottom-bar">
  <a class="btn-help left" href="#">
    <i></i>
    <span><u>H</u>elp</span>
  </a>
  <a class="btn-end left" href="#">
    <i></i>
    <span><u>E</u>nd Exam</span>
  </a>
  <a class="btn-end left" href="#">
    <span><u>P</u>ause Exam</span>
  </a>
  <a class="btn-next right" href="/exams/1/instructions/<%= (@page_id.to_i + 1) %>">
    <span><u>N</u>ext</span>
    <i></i>
  </a>
</div>