<div class="bottom-bar">
  <a class="btn-help left" href="#">
    <i></i>
    <span><u>H</u>elp</span>
  </a>
  <a class="btn-end left js-end-exam" href="#">
    <i></i>
    <span><u>E</u>nd Exam</span>
  </a>
  <a class="btn-end left js-pause-exam-btn" href="#">
    <span><u>P</u>ause Exam</span>
  </a>
  <a class="btn-next right js-next-exercise" href="javascript:;">
    <span><u>N</u>ext</span>
    <i></i>
  </a>
</div>