<p><%= raw @exercise.title %></p>
<ul class="multi-choice-list">
  <% unless @exercise.empty_choices? %>
    <% @exercise.choices.each do |c| %>
      <li><label><input type="radio" name="choice">&nbsp;<%= c %></label></li>
    <% end -%>
  <% end -%>
</ul>