<h1>Optional Break</h1>
<p>At this point during the GMAT exam, you will have the opportunity to take an optional break. If you do not wish to take a break, you may continue. If you choose to take the break, notify the Test Administrator by raising your hand. If you exceed the time allowed for this break, the extra time will be deducted from the time available for completing the exam. </p>
<p>Click <span class="intro-next-button"></span> to continue.</p>