<h1>Optional Break</h1>


<div class="clock" id="break-clock" data-take-id="<%= @take.id %>"><i></i><span class="minutes">8</span>:<span class="seconds">00</span></div>

<div class="text-center">
  <a id='break-link' href="<%= skip_break_url(@exam, @take) %>">Skip</a>
</div>
