<h1>Timing and Breaks</h1>

<p>In the KMF Test System,you will see an optional break following the Analytical Writing Assessment and Integrated Reasoning section,and between the Quantitative and Verbal sections of the test.On the day of the exam,you will be given the opportunity to take a break at these times.IF you choose to take a break,notify the Test Administrator by raising your hand.If you exceed the time allowed for one of the optional breaks,the extra time will be deducted from the time available to complete the next section of the exam(the Quantitative or Verbal section).The break screens are not timed in the KMF Test System.</p>

<p>If you wish to leave your seat at any other time during the test,please raise your hand to notify the Test Administrator.The exam clock will contitune during an unscheduled break,leaving you less time to answer questions in that section.</p>

<p>During a break,you are required to remain in the test center building or in the immediate area.This policy varies depending on the test center location,and it is your responsibility to ask the Test Administrator where you are permitted to go-for example,to the nearest restroom or smoking area.IF you violate test center policy,the administrator may refuse to allow you to reenter the testing room and continue your exam.</p>

<p>Please note that the tutorial,section instructions,exit screens,BIQ section,and Report or Cancel Score screens are not timed in theKMF Test System but WILL BE timed during the GMAT exam.</p>

<p>For additional information about timing and breaks in the GMAT exam,please visit www.mba.com.</p>

<p>Click <span class="intro-next-button"></span> to continue.</p>