<h1>Tutorial</h1>
<p>When you take the GMAT exam,you will have a specific amount of time to complete the tutorial.In the KMF Test System this tutorial is not timed,so you may want to spend extra time reviewing the tutorial screens.(At any point in the exam,you will be able to see how much time you have remaining in the upper right corner of the screen.)</p>

<p>Just below the time remaining,you will see <span class="intro-page-button"></span>.This indicates that you are viewing the first of 10 questions or screens.</p>

<p>You can minimize the time remaining and the question number reminders by clicking on them.When you have five(5) minutes remaining,the time remaining will automatically reappear. To restore them,click on the <span class="intro-clock-button"></span> and <span class="intro-book-button"></span> icons</p>

<p>The GMAT exam contains three(3) sections:Analytical Writing Assessment and Integrated Reasoning,Quantitative,and Verbal.</p>

<p>The following pages allow you to practice answering and navigating through each of the question types.Before answering a question,be sure to read all of the directions carefully.</p>

<p>On the day of the exam,if you have a question as you go through this tutorial,please raise your hand for assistance from the Test Administrator.</p>

<p>Click <span class="intro-next-button"></span> to continue.</p>