<div class="left-container">
  <p class="text-center">Passage</p>
  <p>Some multiple choice questions are based on the content of a passage.Passages are presented on the left side of the screen and the question and response options on the right.</p>
</div>

<div class="right-container">
  <h1>Multiple-Choice Questions with Passages</h1>
  <p>Multiple-Choice Questions will have five response options,but only one correct answer.You may select the best answer</p>
  <p>You must answer each multiple-choice question before moving to the next question.You will then be prompted to confirm your answer.You may not change your answer after you have confirmed it.</p>
  <p>Example:</p>
  <p>Sample Question</p>
  <ul class="multi-choice-list">
    <li><input type="radio" name="sample"> first response option</li>
    <li><input type="radio" name="sample"> second response option</li>
    <li><input type="radio" name="sample"> third response option</li>
    <li><input type="radio" name="sample"> fourth response option</li>
    <li><input type="radio" name="sample"> fifth response option</li>
  </ul>

  <p>Click <span class="intro-next-button"></span> to continue.</p>
</div>