<h1>Scoring Information</h1>

<p>Once you confirm your answer to an exam question you will not be able to return to it.It is not possible to omit or leave blank any Inegrated Reasoning,Quantitative or Verbal questions.If you work on the Quantitative and Verbal sections but do not finish the exam in the allotted time,you will get a score,but it will reflect the penalty for not finishing the test.If you choose to end your exam early,the exam will NOT be scored,and you will NOT receive an Unofficial or an Official Score Report.However,if you take the exam again,your score report will show that you sat for the exam and that your score was not reported.</p>

<p>During the GMAT Exam,use the erasable noteboards provided to you by the Test Administrator to work out your answers.All erasable noteboards must be returned to the Test Administrator at the end of the test session.Credit will not be given for any answers or notes marked on erasable noteboards.</p>

<p>The GMAT exam contains a number of questions that are being pretested for possible use in future tests.You will not know which questions are being pretested.Answers to these questions will not count toward your GMAT scores.</p>

<p>Click <span class="intro-next-button"></span> to continue.</p>