<h1>GMAT Nondisclosure Agreement and General Terms of Use.</h1>
<p>Before beginning the Graduate Management Admission Test,you will be required to read and accept the GMAT Nondisclosure Agreement and General Terms of Use.If you do not agree to these terms,your exam will be canceled and you will forfeit you entire test fee.</p>
<p>Click <span class="instruction-next-button"></span> to continue.</p>