<p style="font-size: 14px; color: red; font-weight: bold">
Note: The following 12 pages are test instructions. You could use the [Skip] button at the bottom right to skip them now, but you won't be able to skip them in real tests.</p>
<h1>Welcome to GMAT770 Test System</h1>
<p>You are about to begin a simulation of the Graduate Management Admission Test(GMAT).</p>
<p>When you actually sit for the exam,the following policies apply throughout the test:</p>
<p>Before you take the exam,you will be required to agree to the GMAT Nondisclosure Agreement and General Terms of Use.You can view the Nondisclosure Agreement and Test Taker Rules by visiting www.mba.com.</p>
<p>During the GMAT exam,both audio and video may be recorded in the testing room while you take the test.If you do not agree,you will not be allowed to complete the test.</p>
<p>Click <span class="intro-next-button"></span> to continue.</p>