<div style="max-height: 300px; overflow-y: scroll;">

  <h1>Analytical Writing Assessment Question</h1>

  <p>Analytical Writing Assessment questions consist of a question box on the top of the screen and a response box below.Read the statement and the instructions,and thetype your response in the space provided.If you are using the keyboard to navigate through the test,Ctrl+Tab will move the cursor out of the response box.</p>

  <p>
    <span class="intro-cut-button"></span>,<span class="intro-copy-button"></span>,<span class="intro-paste-button"></span>,<span class="intro-undo-button"></span>and
                      <span class="intro-redo-button"></span>buttons are available in essay questions to help you edit your response quickly.
  </p>

  <p>The following shortcuts are available for essay questions:</p>

  <ul>
    <li>Cut：Ctrl+X and Alt+T</li>
    <li>Copy：Ctrl+C and Alt+C</li>
    <li>Paste：Ctrl+V and Alt+A</li>
    <li>Undo：Ctrl+Z and Alt+U</li>
    <li>Redo：Ctrl+Y and Alt+R</li>
  </ul>

  <p>In the real exam,you will be asked to confirm your answer before you can advance to the next question.</p>

  <p>Click <span class="intro-next-button"></span> to continue.</p>

</div>

<div class="thesis-container">
  <div class="toolbar">
    <a href="#" class="toolbar-btn-cut"><i></i><u>C</u>ut</a>
    <a href="#" class="toolbar-btn-copy"><i></i><u>C</u>opy</a>
    <a href="#" class="toolbar-btn-paste"><i></i><u>P</u>aste</a>
    <a href="#" class="toolbar-btn-undo disable"><i></i><u>U</u>ndo</a>
    <a href="#" class="toolbar-btn-redo"><i></i><u>R</u>edo</a>
  </div>
  <textarea class="thesis-input"></textarea>
</div>