<p style="font-size: 14px; color: red">注意：从此页面开始接下来12个页面均为考试说明部分，你可以选择右下角【跳过说明】按钮直接进入考试。但在真实的考试中不能跳过该部分。</p>
<h1>Welcome to KMF Test System</h1>
<p>You are about to begin a simulation of the Graduate Management Admission Test(GMAT).</p>
<p>When you actually sit for the exam,the following policies apply throughout the test:</p>
<p>Before you take the exam,you will be required to agree to the GMAT Nondisclosure Agreement and General Terms of Use.You can view the Nondisclosure Agreement and Test Taker Rules by visiting www.mba.com.</p>
<p>During the GMAT exam,both audio and video may be recorded in the testing room while you take the test.If you do not agree,you will not be allowed to complete the test.</p>
<p>Click <span class="intro-next-button"></span> to continue.</p>