<h1>Differences between GMAT770 Test System and the GMAT Exam</h1>

<p>The tutorial,section instructions,exit screens,Background Information Question (BIQ) section,and Report or Cancel Scores screen are not timed in the KMF Test System but WILL BE timed during the GMAT exam.You may want to spend extra time on these screens in the KMF Test System to familiarize yourself with them before you take the actual test.</p>

<p>The oprional break screens are not timed in the KMF Test System but will be timed when you sit for the exam.For the length of the optional breaks,refer to www.mba.com.Keep in mind that,if you exceed the time allowed for one of the optional breaks during the GMAT exam,the extra time will be deducted from the time available to complete the next section of exam material(the Quantitative or verbal section).</p>

<p>In the KMF Test System you are permitted to move back and forth between the screens in the preliminary sections of the practice exams(the Welcome screen,the Nondisclosure Agreement,the school selection screen,and the tutorial).In the GMAT exam,you will not be able to return to a previous section once you have completed it.</p>

<p>The <span class="intro-end-button"></span> button is available in the Analytical Writing Assessment and Integrated Reasoning,Quantitative,and Verbal sections of the practice tests,but is not available during the GMAT exam.</p>

<p>After completing a KMF Test System,you will see scores for the Integrated Reasoning,Quantitative,and Verbal sections;however,the Analytical Writing Assessment is not scored in the KMF Test System.</p>

<p>Keep in mind that the KMF Test System are meant to illustrate GMAT content and are not accurate predictors of performance on the GMAT.</p>