<h1>Navigation</h1>

<p>The<span class="intro-help-button"></span>and<span class="intro-next-button"></span>buttons on the bottom of this screen will be available throughout the practice exam.The<span class="intro-end-button"></span>button is available in the Analytical Writing Assessment and Integrated Reasoning,Quantitative,and Verbal sections of the practice tests,but is not available in the GMAT exam.</p>

<p><span class="intro-help-button"></span>provides information about navigation,test instructions,and section directions.</p>

<p><span class="intro-end-button"></span>ends your practice test.</p>

<p><span class="intro-next-button"></span>you from screen to screen.</p>

<p>
The navigation buttons and functions can be selected by-

</p>
<ul">
    <li>clicking the button with the mouse,</li>
    <li>using the Tab key to move through the options and pressing the spacebar to select an option,or</li>
    <li>using the shortcut keys.</li>
</ul>

<p class="intr-line-mod intr-icon-line">Click<span class="intro-next-button"></span>to continue.</p>