<h1>School Selection</h1>
<p>On the day of your test,you will be able to select up to five(5) graduate management programs to receive your GMAT scores.If youwish to send your scores to more programs,or if you wish to send your scores to programs after you leave the test center,you may do so by visiting www.mba.com,calling GMAT Customer Service,or faxing or mailing the Additional Score Report Request Form available in the GMAT Information Bulletin</p>
<p>Click <span class="instruction-next-button"></span> to continue.</p>