<div style="max-height: 670px; overflow-y: scroll;">

<h1>Multiple-Choice Questions</h1>
<p>Multiple-Choice Questions will have five response options,but only one correct answer.You may select the best answer by –</p>
<ul>
  <li>clicking anywhere in the response option,</li>
  <li>clicking the circle next to the response option,or</li>
  <li>pressing Tab to move through the options and pressing the spacebar to select an answer.</li>
</ul>
<p>You must answer each multiple-choice question before moving to the next question.You will then be prompted to confirm your answer.You may not change your answer after you have confirmed it.</p>
<p>Example:</p>
<p>Sample Question</p>
<ul class="multi-choice-list">
  <li><input type="radio" name="sample"> first response option</li>
  <li><input type="radio" name="sample"> second response option</li>
  <li><input type="radio" name="sample"> third response option</li>
  <li><input type="radio" name="sample"> fourth response option</li>
  <li><input type="radio" name="sample"> fifth response option</li>
</ul>

<p>Click <span class="intro-next-button"></span> to continue.</p>

</div>
