<div class="bottom-bar">
  <a class="btn-help left" href="#">
    <i></i>
    <span><u>H</u>elp</span>
  </a>
  <a class="btn-end left js-end-exam" href="#">
    <i></i>
    <span><u>E</u>nd Exam</span>
  </a>
  <a class="btn-next right" href="<%= next_instruction_url(@exam, @page_id) %>">
    <span><u>N</u>ext</span>
    <i></i>
  </a>
  <a class="btn-skip right" href="<%= skip_instructions_url(@exam) %>">
    <span>跳过说明</span>
  </a>
</div>

<%= render 'exams/end_exam_dialog' %>