<h1>If You Need Assistance</h1>

<p>If at time during the exam you think you have a problem with your computer or need the Test Administrator for any reason,please raise your hand.</p>

<p>Click <span class="intro-next-button"></span> to continue.</p>