<div class="dialog">
  <div class="title">
    Anwser Confirmation
    <i class="close"></i>
  </div>
  <div class="body">
    <p>You cannot leave this question unanwsered!</p>
    <a href="#" class="dialog-close">O<u>K</u></a>
  </div>
</div>