<div class="dialog js-unanwsered">
  <div class="title">
    Anwser Confirmation
    <i class="close"></i>
  </div>
  <div class="body">
    <div>You cannot leave this question unanwsered!</div>
  </div>
  <div class="footer">
    <a href="#" class="dialog-close bordered">O<u>K</u></a>
  </div>
</div>