<div class="exam-main">
  <div class="header"><h1>GMAT 考试说明</h1></div>
  <div class="top-bar"></div>
  <div class="content">
    <%= render "exams/intro#{@page_id}" %>
  </div>

  <%= render "exams/intro_footer" %>

</div>