<div class="exam-main">
  <div class="header">GMAT 考试说明</div>
  <div class="top-bar"></div>
  <div class="content">
    <%= render "exams/intro#{@page_id}" %>
  </div>
  <div class="bottom-bar">
    <a class="btn-help left" href="#">
      <i></i>
      <span><u>H</u>elp</span>
    </a>
    <a class="btn-end left" href="#">
      <i></i>
      <span><u>E</u>nd Exam</span>
    </a>
    <a class="btn-next right" href="/exams/1/instructions/<%= (@page_id.to_i + 1) %>">
      <span><u>N</u>ext</span>
      <i></i>
    </a>
    <a class="btn-skip right" href="#">
      <span>跳过说明</span>
    </a>
  </div>
</div>