<div class="exam-main">
  <%= render 'exams/exercise_header' %>
  <div class="top-bar"></div>
  <div class="content">
    <p style="text-align: center; line-height: 600px">You have paused your exam. Click the Resume Exam button below to continue.</p>
  </div>
  <%= render 'exams/exercise_footer' %>
</div>