<div class="container p2 header-margin">
  <h1>Yay, you're done! Here is your result: </h1>
  <p>Anwsers: <%= @take.anwsers %></p>
  <p>Results: <%= @take.anwser_results %></p>
  <p>Time used: <%= @take.time_used_as_string %> mins</p>
</div>
