<div class="bg-snow pb2">

  <div class="pt2 header-margin">
    <div class="container">
      <input type="text">
      <button>Search</button>
    </div>
  </div>

  <div class="filters">
    <div class="container bg-white">
      <span>共找到 18221 道题目</span>
      <div class="selected-filters">
        <span>全部结果 &gt;</span>
        <span>OG2016</span>
        <span>PS</span>
      </div>

      <table>
        <tbody>
          <tr>
            <td>来源</td>
            <td>
              <span>OG13</span>
              <span>OG2016</span>
              <span>OG2017</span>
              <span>Prep07</span>
              <span>Prep08</span>
              <span>Prep12</span>
              <span>其他</span>
            </td>
          </tr>
          <tr>
            <td>题型</td>
            <td>
              <span>IR</span>
              <span>PS</span>
              <span>DS</span>
              <span>SC</span>
              <span>CR</span>
              <span>RC</span>
            </td>
          </tr>
          <tr>
            <td>难度</td>
            <td>
              <span>500-600</span>
              <span>600-700</span>
              <span>700-750</span>
              <span>750+</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="exercises">
    <div class="container">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <th style="width: 60px">序号</th>
          <th>题目内容</th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
<a href="<%= exercise_path(1) %>">In a review of 2,000 studies of human behavior that date back to the 1940s, two Swiss psychologists, declaring that since most of the studies had failed to control for such variables as social class and family</a>
</td>
          </tr>
          <tr>
            <td>2</td>
            <td>
<a href="<%= exercise_path(1) %>">Manufacturers rate batteries in watt-hours; if they rate the watt-hour higher, the longer the battery can be expected to last.</a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="<%= exercise_path(1) %>">Although a surge in retail sales <u>have raised hopes that there is a recovery finally</u> under way, many economists say that without a large amount of spending the recovery might not last.</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


</div>