<% if current_user %>
  <div class="login">
    <a href="<%= user_path(current_user) %>">
      <img src="<%= current_user.headimgurl %>" alt="">&nbsp;个人中心
    </a>
    <%= link_to '退出登陆', logout_path, class: 'logout' %>
  </div>
<% else %>
  <div class="login"><%= link_to '登录', '/auth/open_wechat' %></div>
<% end -%>