<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GMAT770 模考</title>
  <meta name="keywords" content="GMAT、题库、练习、做题、官方指南、GMAT770、模考">
  <meta name="description" content="">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'exam_layout', media: 'all' %>
</head>
<body>
  <%= yield %>
</body>
</html>
